<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class='container'> <!-- Creates the Overall Grid -->
        <div class='row' style="color:black;background-color:lightgrey;"> <!--- title and nav row -->
            <div class='col-md-12'> <!--- site title -->
                <div class="text-center">
                <h1 href="index.html"> Mission to Mars </h1>
                </div>
            </div> <!--- end site title -->
            <div class='col-md-12'> <!--- site title -->
                <div class="text-center">
            <button type="button" class="btn btn-secondary" onClick="window.location.reload();">Scrape New Data</button>
            </div>
    </div>
    <div class='container'>
        <div class='row' style="color:black;background-color: white;">
            <h2>Latest Mars News</h2>
        <div class='col-md-12'>
          <b>  {{ mars.news_title }} </b>
        </div>
        <div class='col-md-12'>
            {{ mars.news_paragraph }}
        </div>
    </div> 
    <div class='container' style="color:black; background-color: white;">
        <div class='row'>
        <div class= 'col-9'>
        <b>Featured Mars Image</b>
        </div>
        <div class='col-3'>
            <b>Mars Facts</b>
        </div>
        </div>

    </div>
    <div class='container' style="color:black; background-color: white;">
        <div class='row'>
        <div class= 'col-9'>
            <img src={{mars.mars_image}}>
        </div>
        <div class='col-3'>
            {{mars.mars_facts_table}}
        </div>
        </div>
    </div>

    <div class='container'>
        <div class="row">
        <div class='col-3'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{mars.hemisphere_images[0].image_url}} alt="image">
            <div class="card-body">
              <p class="card-text">{{mars.hemisphere_images[0].title}}</p>
            </div>
            </div>
          </div>
          <div class='col-3'>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{mars.hemisphere_images[1].image_url}} alt="image">
            <div class="card-body">
              <p class="card-text">{{mars.hemisphere_images[1].title}}</p>
            </div>
          </div>
          </div>
          <div class='col-3'>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{mars.hemisphere_images[2].image_url}} alt="image">
            <div class="card-body">
              <p class="card-text">{{mars.hemisphere_images[2].title}}</p>
            </div>
            </div>
          </div>
          <div class='col-3'>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{mars.hemisphere_images[3].image_url}} alt="image">
            <div class="card-body">
              <p class="card-text">{{mars.hemisphere_images[3].title}}</p>
            </div>
          </div>
          </div>
          </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>